.container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 100px 100px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 10px;
  justify-content: center;
}

.item {
  background: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} 

/* #item1{
    grid-column: 1 / 3;
}

#item2{
    grid-row: 1 / 3;
} */

/* Media Query */

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);  /* grid-template-rows: 100px 100px 100px 100px; */
  }
}

@media(min-width: 700px){
    .container{
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: 100px;
    }
}

/* Transitions */

.item:hover{ /*:hover is Psudo class */
    background-color: teal;
    transition: background-color 0.5s ease;
}


/* Animations */

@keyframes fadeIn {
    from {
        background-color: #3498db;
    }
    to {
        background-color: navy;
    }
}

.item:hover{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* transform */

.item:hover{
    transform: rotate(360deg) scale(1.2);
    transition: transform 0.5s ease;
}

#item1:hover{
    transform: translateX(50px);
    transition: transform 0.5s ease;
}