body {
  font-family: Arial, Helvetica, sans-serif;
}

.s-text{
  font-weight: bold;
}

.s-btn{
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 30px;
}

.is-subscribed {
  background-color: rgb(240, 240, 240);
  color: black;
}

/* ---------------------------------------------------- */

.cost-input{
  font-size: 15px;
  padding: 10px;
}
.calculate-btn{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  padding: 12px 15px;
  cursor: pointer;
}

/* ---------------------------------------------------- */


.game{
  background-color: rgb(25, 25, 25);
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  max-width: 340px;
  text-align: center;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icon{
  height:50px;
}

.move-btn{
  background-color: transparent;
  border: 3px solid white;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score{
  margin-top: 40px;
}

.reset-btn{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}