/* Deep Electric Background → #0A0F1F

Dark Navy Secondary → #111827

Neon Blue → #00F5FF

Electric Cyan → #00E0FF

Voltage Purple → #7C3AED

Energy Pink Accent → #FF2DFB

Bright White → #E6F7FF*/

body{
    background-color: #0B1120;
    color: #E2E8F0;
    font-size: 18px;
}
html{
    scroll-behavior: smooth;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* control opacity here */
}

nav{
    z-index: 3;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #0B1120;
    justify-content: center;
    gap: 20px;
    border-bottom: 2px solid #00E0FF;
}
nav a{
    margin: 10px;
    color:#00E0FF;
    text-decoration: none;
    font-size: 1.5em;
}

h1{
    margin-bottom: 120px;
    text-align: center;
    font-size: 50px;
    color: #10bcec;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #022532;
    padding: 20px;
    height: 600px;
}
.Hcontent{
    z-index: 2;
}
.hero h2{
    color: #00F5FF;
}

.hero p{
    max-width: 1000px;
    font-size: 24px;
    margin: 20px auto;
    line-height: 1.6;
    color: #E6F7FF;
}

.content{
    margin-top: 80px;
    text-align: center;
}
.content h2{
    color: #10bcec;
    z-index: 2;
}
.POB{
    
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

.POB div{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color:#10bcec;
    color: #0B1120;
    padding: 20px;
    border-radius: 10px;
}

.POB div:hover{
    background-color: #00E0FF;
    color: #0B1120;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px #00E0FF, 0 6px 20px #00E0FF, 0 8px 40px #00E0FF;
}
.POB div ul li{
    list-style: disc;
    text-align: left;
}
.content2{
    text-align: center;
}
.content2 h2{
    color: #10bcec;
}

.MS{
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

.MS div{
    font-size: 20px;
    text-align: center;
    color: #0B1120;
    justify-content: center;
    background-color: #10bcec;
    padding: 20px;
    border-radius: 10px;
}

.MS div:hover{
    background-color: #00E0FF;
    color: #0B1120;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px #00E0FF, 0 6px 20px #00E0FF, 0 8px 40px #00E0FF;
}

.facts h2{
    color: #10bcec;
    text-align: center;
}
.facts ul li{
    font-size: 20px;
}

footer{
    text-align: center;
    color: #10bcec;
}

.facts-list{
    display: flex;
    flex-direction: column;
    margin-right:40px ;
}

.facts-list li{
    text-align: center;
    list-style: none;
    color: #0B1120;
    border-radius: 8px;
    margin: 5px 0;
    padding: 5px;
    background-color: #10bcec;
}

.facts-list li:hover{
    background-color: #00E0FF;
    color: #0B1120;
    transition: 0.2s ease-in-out;
    box-shadow: 0 4px 8px #00E0FF;
}
@media (max-width: 800px){
    .POB{
        grid-template-columns: 1fr 1fr;
    }
    .MS{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px){
    .POB{
        grid-template-columns: 1fr;
    }
    .MS{
        grid-template-columns: 1fr;
    }
}

.glow-text {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: #10bcec;
  letter-spacing: 5px;
  
  background: linear-gradient(
    90deg,
    #10bcec 0%,
    #00F5FF 40%,
    #00ffff 50%,
    #00F5FF 60%,
    #10bcec 100%
  );
  
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: glowMove 5s linear infinite;
}

@keyframes glowMove {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}