body{
  font-family: Arial;
}

.todo-grid,.input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,.due-date-input,.delete-todo{
  font-size: 15px;
  padding: 6px;
}

.add-todo{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.delete-todo{
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
